@import ../../mq.sass
@import ../../colors.sass

.tabs
    display: flex
    flex-direction: column
    color: #444
    font-weight: normal

    .tab-list
        display: flex
        align-items: center
        justify-content: center
        padding-left: 0
        border-bottom: 1px solid #888

    .tab-list-item
        list-style: none
        margin-bottom: -1px
        padding: 0.2rem
        text-transform: uppercase
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        color: #231f20
        font-size: 0.8em
        font-weight: 400
        letter-spacing: 0.5px

        &:hover
            cursor: pointer

    .tab-list-active
        font-weight: bold

    .tab-item-image
        width: 30px
        padding: 0.5rem

    .tab-content
        padding: 1em
        color: #777777

        h2
            margin: 0.5em 0

        p
            margin: 0.5em 0

            span
                font-weight: 400

        ol
            margin-left: 2em

            li
                margin-left: 0.5em
                font-weight: 300

                span
                    font-weight: 400

+tablet
    .tabs
        .tab-item-image
            width: 40px

        .tab-list-item
            padding: 0.5rem 1.5rem
