@import ../../mq.sass
@import ../../colors.sass

.nosotros
    padding: 1.6em

    p
        font-size: 1.6em
        margin-bottom: 1em
        color: $p-text-color
        text-align: justify
        text-indent: 10px

        span
            text-align: right !important

        +tablet
            font-size: 1em

    h2
        margin-bottom: 1em !important
