@import ../../mq.sass
@import ../../colors.sass

.read-btn
    display: inline-block
    margin-top: 2em
    margin-right: 3rem

.primary
    padding: 1.5em 1.5em 1.5em 1.5em
    border: 1px solid $primary-color
    background-color: $hero-button-color
    color: $hero-button-text
    font-weight: 400
    letter-spacing: 0.1em
    font-size: 1.4rem

    &:hover
        background-color: $hero-button-hover

.purchase-overly--shown
    visibility: visible !important
    transform: translateY(0) !important
    transition: transform 0.3s !important

    +tablet
        visibility: hidden !important

.purchase-overly
    will-change: transform
    left: 0
    right: 0
    bottom: 0
    position: fixed
    background: #fff
    z-index: 1000
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.3)
    transform: translateY(100%)
    transition: transform 0.3s, visibility 0s 0.3s
    visibility: hidden

.btn-buy
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    line-height: 1.167em
    letter-spacing: 0.113rem
    padding: 1rem 1.25rem 0.9375rem
    text-transform: uppercase
    margin: 0.75em
    width: calc(100% - 1.5em)
    background: $pay-button
    color: $pay-button-text
    transition: background 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    cursor: pointer
    border: 0.5px solid $pay-button-border

    span
        position: relative
        top: -0.3em
        font-size: 75%
        margin-left: unset
