@import ../../mq.sass
@import ../../colors.sass

header
    z-index: 1000
    width: 100%
    position: sticky
    top: 0
    font-size: 1em
    background: $header-background

    .header-container
        display: flex
        align-items: center
        padding: 0 1rem
        margin: 0 auto

        +tablet
            justify-content: space-between
            width: 70%


        .logo
            margin: 0 auto
            flex-basis: 6rem
            padding: 0.5rem 0

            +tablet
                margin: 0

        .cart
            a
                span
                    padding-left: 0.5rem

            +tablet
                a
                    display: flex
                    border: 1px solid #4a4a4a
                    padding: 0.5rem 0.8rem 0.5rem 0.8rem

                    i
                        padding-right: 1rem

                    span
                        margin-top: 0
                        padding-left: 1rem
                        border-left: 1px solid #4a4a4a
                        text-align: right

        nav
            height: 100vh
            width: 100%
            text-transform: uppercase
            margin: 0
            order: -1
            transition: left 0.2s ease-out
            position: absolute
            top: 0
            font-weight: bold
            background: $header-menu

            .nav-toggle
                margin-bottom: 1em

            .nav-wrapper
                padding: 1.6em

                ul
                    display: flex
                    flex-direction: column
                    height: 100%
                    margin-top: 2em

                    li
                        list-style: none
                        padding: 0.8em 0

        +tablet
            nav
                display: flex
                position: relative
                left: 0
                font-size: 1em
                transition: none
                background: inherit
                height: auto
                order: 0

                .nav-wrapper
                    padding: 0
                    margin: 0 auto

                    ul
                        font-size: 1.2em
                        flex-direction: row
                        margin: 0

                        li
                            padding: 0

                            a
                                padding: 0 1rem
                                line-height: 3em
                                color: $nav-text
                                position: relative
                                font-weight: 300

                                &:hover
                                    background: black

                                &:before
                                    content: ""
                                    display: block
                                    background: $primary-color
                                    width: 0%
                                    height: 2px

                                    //Desde aquí lo que hacemos es poner la linea abajo
                                    position: absolute
                                    left: 50%
                                    bottom: 0
                                    transition: all 0.3s

                                &:hover::before
                                    width: 100%
                                    left: 0

+tablet
    .nav-toggle
        display: none


.show
    left: 0

.hidden
    left: -100%
