@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap")

@import ./mq.sass
@import ./colors.sass

*
    padding: 0px
    margin: 0px
    box-sizing: border-box

html
    font-family: "Roboto"
    font-size: 10px

    +tablet
        font-size: 15px


    a
        text-decoration: none
        display: block
        color: white

        &:visited
            color: white

    .section-container
        font-size: 16px

        p
            color: $p-text-color

    +tablet
        .section-container
            width: 70%
            margin: 0 auto
