@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap")

@import ./mq.sass
@import ./colors.sass

*
    padding: 0px
    margin: 0px
    box-sizing: border-box

html, body
    font-family: "Roboto"
    font-size: 16px
    height: 100%

body
    display: flex
    flex-direction: column
    height: 100%

    a
        text-decoration: none
        display: block
        color: white

        &:visited
            color: white

    p
        color: $p-text-color
        font-weight: 300
        font-size: 1em

.container-50
    margin: 0 auto
    width: 100%

    +tablet
        width: 50%

.container
    width: 100%
    margin: 0 auto

.container-70
    width: 100%
    margin: 0 auto

    +tablet
        width: 70%

.container-80
    width: 100%
    margin: 0 auto

    +tablet
        width: 80%

.container-90
    width: 100%
    margin: 0 auto

    +tablet
        width: 90%

.page
    padding: 1.6em

    h1
        text-align: center

.wrapper
    min-height: calc(100vh - 8em)

    +tablet
        min-height: calc(100vh - 7.2em)


    section
        h1, h2, .read-btn
            text-transform: uppercase
            font-weight: 300
            margin: 0

        span
            font-weight: 700

        h1
            font-size: 2rem

            span
                color: $span-hero-color

        img
            display: block
            width: 100%
            max-width: 100%
            height: auto

.row-dinamica
    display: flex
    flex-direction: column

    +tablet
        flex-direction: row

.field__input
    margin: 0.5rem auto
    

.field-label
    font-size: 0.85714em
    font-weight: normal
    position: absolute
    top: 0
    width: 100%
    margin-top: 0.42857em
    margin-left: 1px
    padding: 0 0.91667em
    z-index: 1
