$primary-color: #3EF1ED
$header-background: #202020
$header-menu: rgba(0, 0, 0, 0.9)
$banner-header: rgba(255, 255, 255, 0.5)
$overly-color: rgba(255, 255, 255, 0.75)
$nav-text: white
$span-hero-color: red
$hero-button-text: grey
$hero-button-hover: white
$hero-button-color: $primary-color
$banner-text-color: black
$hero-text: black
$product-text: #202020
$pay-button: #3ADCD8
$pay-button-text: black
$pay-button-border: $pay-button
